<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="javascripts/jquery.js"></script>
		<script>
			$(document).ready(function(){
				$("button").click(function(){
					$.post('/',{username:'admin',password:'admin'},function(data){
						$("p").html(data.message);
					})
				})
			})
		</script>
  </head>
  <body>
    <h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<form class="form-horizontal" method="post">
				<label class="control-label" for="username">用户名</label>
				<input type="text" name="username" value="admin">
				<label for="password">密码</label>
				<input type="password" name="password" value="admin">
				<button type="submit">登陆</button>
		</form>
  </body>
</html>
